.container {
    max-width: 100%;
    margin: 30px auto;
    overflow: auto;
    min-height: 200px;
    border: 2px solid #FF00FF;
    padding: 30px;
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 300px;
}