@font-face {
    font-family: "harryp";
    src: url('/Fontes/HARRYP__.TTF') format('opentype');
}

#logo{
   width: 5%;
   margin-top: 1%;
}

a{
   color:white;
   margin-left: 85%;
   font-family:"harryp";
   font-size: 160%;
   margin-top: 30%;
}

body{
   background-color: green;
}

h1{
    font-family:"harryp";
    font-size: 500%;
    color:white;
    text-align: center;
}


footer{
    color:green;
    background-color:white;
    text-align: center;
}