.add-task-container {
    margin: 15px;
    width: 100%;
    display: flex;
    margin: 8px 0;
}

.add-task-input {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    flex:2;
    background-color: #444;
    color: #eee;
    font-size: 16px;
}

.add-task-button-container {
    margin-left: 10px;
    flex: 1;
}