.task-container {
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}

.task-title {
    cursor: pointer;
}

.button-container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.remove-task-button {
    background-color: #444;
    border:none;
    font-size: 24px;
    color:#FF00FF;
    margin: 0 5px;
}


.see-task-details-button {
    background-color: #444;
    border:none;
    font-size: 24px;
    color: #FF00FF;
    margin: 0 5px;
}